.ch3 {
    color: #A2C0A4;
}

.ch2 {
    color: red;
}



.fit {
    position: relative;
    /* margin-left: 40%; */
    margin-top: 10px;
    /* margin-right: 10%; */
    /* left: 10%; */
    width: auto;
    background-color: #EFC9A5;
    -webkit-border-radius: 80px 80px 80px 80px;
    -moz-border-radius: 80px 80px 80px 80px;
    border-radius: 80px 80px 80px 80px;


}

p {
    text-align: center;
    color: #785E4D;
    font-weight: 800;
}

.jdj {
    background-color: #E8DAC2;
    -webkit-box-shadow: 2px 2px 9px 10px rgba(0, 0, 0, 0.64);
    box-shadow: 2px 2px 9px 10px rgba(0, 0, 0, 0.64);
}

.falo {
    position: relative;
    /* left: 1%; */
    /* right: auto; */
}