h2 {
    background-color: #EFC9A5;
    color: #A6A6A6;
    text-align: center;

}

.duu {
    background-color: red;
    color: white;
}

.faa {
    background-color: black;
    color: white;
}

.pop {
    margin-top: 20px;
}