.container {

    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    background-color: #785E4D;
    height: 700px;
    /* margin-left: 40%; */
}

@media screen and (max-width: 400px) {
    .container {

        max-width: 350px;
        margin-right: auto;
        margin-left: auto;
        background-color: #785E4D;
        height: 700px;
        /* margin-left: 40%; */
    }
}